on fs
    chmod 0777 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on init
    # Mount cgroup for cpu accounting
    mount cgroup none /acct cpuacct
    mkdir /acct/uid

    start hwservicemanager

on boot
    setprop sys.usb.config adb
    start prepdecrypt

on property:crypto.ready=1
    start sbin_qseecomd
    start servicemanager

    # Wait for qseecomd to finish
    wait_for_prop sys.listeners.registered true

    start gatekeeper-1-0
    start keymaster-3-0

on property:crypto.ready=0
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop sbin_qseecomd

service sbin_qseecomd /sbin/qseecomd
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0
    
service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    disabled
    user root
    group root readproc
    seclabel u:r:recovery:s0
    writepid /dev/cpuset/system-background/tasks

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service prepdecrypt /sbin/prepdecrypt.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

# Handled by TWRP
service keystore /sbin/keystore /tmp/misc/keystore
    disabled
    oneshot
    user root
    group root drmrpc readproc
    seclabel u:r:recovery:s0
    writepid /dev/cpuset/foreground/tasks

# Handled by TWRP
service keystore_auth /sbin/keystore_auth
    disabled
    oneshot
    user system
    group root
    seclabel u:r:recovery:s0
    
on property:ro.crypto.fs_crypto_blkdev=/dev/block/dm-0
    stop sbinqseecomd    

on boot
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root
    chown system system /sys/class/android_usb/android0/secure
    chmod 0660 /sys/class/android_usb/android0/secure
    # Configure BAM2BAM_IPA for RNDIS
    write /sys/class/android_usb/android0/f_rndis_qc/rndis_transports BAM2BAM_IPA
    # Disable RNDIS UL aggregation
    write /sys/class/android_usb/android0/f_rndis_qc/max_pkt_per_xfer 1
    write /sys/module/g_android/parameters/mtp_rx_req_len 524288
    write /sys/module/g_android/parameters/mtp_tx_req_len 524288

    chown root system /sys/module/uvcvideo/parameters/quirks
    chmod 0660 /sys/module/uvcvideo/parameters/quirks
